:root {
    --base-color: black;
    --text-color: white;
    --button-bg: rgb(50, 50, 50);
    --searchbar-bg: rgb(165, 163, 163);
    --overlay-bg: rgba(0, 0, 0, 0.6);
    --overlay-bg-hover: rgba(0, 0, 0, 0.8);
}
.darkmode {
    --base-color: white;
    --text-color: black;
    --button-bg: rgb(200, 200, 200);
    --searchbar-bg: rgb(220, 220, 220);
    --overlay-bg: rgba(0, 0, 0, 0.6);
    --overlay-bg-hover: rgba(0, 0, 0, 0.8);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--base-color);
    color: var(--text-color);
    transition: background 0.3s ease, color 0.3s ease;
    overflow: auto;
    position: relative;
}
#theme-switch {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--button-bg);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}
#theme-switch i {
    margin-top: 8.5px;
    font-size: 20px;
    color: var(--text-color);
    transition: color 0.3s ease;
}
#theme-switch i:last-child {
    display: none;
}
.darkmode #theme-switch i:first-child {
    display: none;
}
.darkmode #theme-switch i:last-child {
    display: block;
}